extends ../main.layout.pug

block variables
  - var title = 'Блог'

block scripts
  script(src='about.bundle.js')

block content
 section.hero.hero--blog
  .hero__links
   ul.socials
    -
     var social =[
       ['vk', '$https://vk.com/'],
       ['github', '$https://github.com/StepanovNikolay'],
       ['in', '$https://ru.linkedin.com/']
     ]
    each item in social
     li.social__item
      a(href='#{item[1]}').social__link
       +icon(item[0],'social__link-pic')
  .hero__menu
   a(href="#").hamburger
    +icon('hamburger','hamburger-pic')
  .hero__title
   .section-title
     img(src="", alt="").section__title-pic
     .hero_user
      .user
       .user-photo
       .user__description
        .user__name.user__name--about БЛОГ
        .user__info статьи, которые я написал
 section.arctiles
  .blog-navigation 
   nav.blog__menu
    ul.blog__title 
      -
       var navigation = [
         ['#','Самое важное в SASS'],
         ['#','Приёмы в вёрстке, без которых не обходится ни один сайт'],
         ['#','Самый необходимый набор Gulp плагинов'],
         ['#','Почему я выбрал Jade']
       ]
      each item in navigation
       li.blog__list
        a(href="item[0]").blog__elem #{item[1]}
  .blog-arctile
   ul.arcticle__title
    li.arcticle__list 
       .article__block
        .arcticle__header Самое важное в SASS
        .arcticle__data 22 ноября 2016   
        .article__text Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия. 
        .arcticle__text2 Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
        img(src="./assets/images/bg/img-arcticle1.jpg", alt="img" class="img-arcticle")
    li.arcticle__list 
      .article__block
       .arcticle__header Приёмы в вёрстке, без которых не обходится ни один сайт
       .arcticle__data 13 ноября 2016  
       .article__text Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
       .arcticle__text2 Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
  .tringle.tringle--blog
    .tringle__left.tringle__left--blog
      svg(viewBox="0 0 100 100" preserveAspectRatio="none").polygon__left.polygon__left--blog
       polygon(points='0,0,0,110, 1000,110').element-left
    .tringle__right.tringle__right--blog
      svg(viewBox="0 0 100 135" preserveAspectRatio="none").polygon__right.polygon__right--blog
       polygon(points='110,0,-1000,150, 200,200').element-right