extends ../auth.layout.pug

block content
 .auth-block
   .form-login
     form.index-login(action="")
      .user__name.user__name--form Авторизируйтесь
      label.index__block
       .index__img
        +icon('login','index__pic')
       input(type="text" class="index__input" placeholder="Логин" )
      label.index__block
       .index__img
        +icon('password','index__pic') 
       input(type="text" class="index__input" placeholder="Пароль" )
      .form-radio
        label.form__btm.form__btm--checkbox
          input(type="checkbox" class="radio__chek"  name="iamhuman")
          .radio__fake.radio__fake--border 
          .radio__text я человек
      .radio__btn
        .radio__title Вы точно не робот?  
        .form__input   
         label.form__btm
           input(type="radio" class="radio__chek"  name="notarobot" checked)
           .radio__fake
           .radio__text Да  
         label.form__btm
           input(type="radio" class="radio__chek"  name="notarobot" checked)
           .radio__fake 
           .radio__text Не уверен    
      .radio__link
       .radio__click
         a(href="" class="link-form" ) На главную
       .radio__click
         a(href="" class="link-form" ) Войти
        

   .auth-block__content 
     .user
       .user-photo
       .user__description
       .user__name.user__name--auth Степанов Николай
       .user__info Личный сайт веб разработчика
     .auth-block__social
         ul.socials.socials--auth
          each item in ['vk','github', 'in']
           li.social__item.social__item--auth
            a(href="#").social__link
             +icon(item,'social__link-pic')
     .auth-block__contacs
        nav.menu
         ul.menu__title.menu__title--auth 
          each item in ['Мои работы','Обо мне','Блог']
           li.menu_list.menu_list--auth
           a(href="#").menu__link.menu__link--auth #{item}
   span.auth-text
     p © Степанов Николай | Создано с любовью в LoftSchool | 2018  
 a(href="#").auth-link Авторизироваться      

