script(type="text/x-template")#slider
.slider
 info
 display
 buttons

script(type="text/x-template")#slider-info
 .slider--container 
   .slider__info
     .block-subtitle.block-subtitle--works сайт школы онлайн образования
   .slider__text
     span.text html, css, javascript
   .slider__btn
     a(href="").slider-click Посмотреть сайт
      +icon('link','button-pic')  

script(type="text/x-template")#slider-display
 .slider-display
   .slider__block1
     img(src="./assets/images/bg/fon-block1.png", alt="" class="block-img")

script(type="text/x-template")#slider-buttons
 .slider__button  
   .slider__block
    .slider-img
     img(src="./assets/images/bg/fon-block2.jpg", alt="" class="block-fon")
   .slider__block
    .slider-img.slider-img--block3
     img(src="./assets/images/bg/fon-block3.jpg", alt="" class="block-fon") 