footer.footer
  .footer-row
    .footer__text 
       p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
    .footer__menu 
     nav.menu
      ul.menu__title.menu__title--footer
       -
        var nav = [
          ['Мои работы','./works.html'],
          ['Обомне','./about.html'],
          ['Блог','./blog.html'],
          ['Авторизация','./index.html'],
        ]
       each item in nav
         li.menu_list.menu_list--footer
          a(href=`${item[1]}`).menu__link.menu__link--footer #{item[0]}
    .footer__contacs
     ul.contacs__list.contacs__list--footer
       -
         var contacs = [
           ['skype','skype_kdn'],
           ['envelope', 'stepanovnikolaj30@gmail.com'],
           ['phone_n','+79142222790'],
           ['map_n','Марха марха']
         ]
       each item in contacs
         li.contacs__item.contacs__item--footer
            .contacs__title.contacs__title--footer #{item[1]} 
  .footer-row__down
   .footer__social
     ul.socials
      each item in ['vk','github', 'in']
       li.social__item.social__item--footer
        a(href="#").social__link
         +icon(item,'social__link-pic')
   span.footer_blu-text
    p © Степанов Николай | Создано с любовью в LoftSchool | 2018
    
    
