.user-description-avatar{
  width: 440px;
  height: 390px;
  
}




.about__left{
  width: 50%;
  position: relative;
  padding-left: 5%;
  z-index: 1000;
  @include tablets{
    height: 46%;
    width: 100%;
 text-align: center;
  min-height: 650px;
  }
  @include phones{
    height: 40%;
    background: #f2f0e8;
  }
  
}
.user-description__img{
  z-index: 1000;
}

.block-title{
  text-align: center;
    font-family: 'Sansus Webissimo';
    font-weight: normal;
    font-style: normal;
    font-size: 64px;
    width: 354px;
    margin-bottom: 5%;
    text-transform: uppercase;

}
.stars-pic{
  width: 150px;
  height: 100px;
  position: absolute;
  left: 23%;
  @include tablets {
    left: 40%;
  }
}


.user__text{
  margin-bottom: 2%;
  font-size: 16px;
}

.block-subtitle--left{
  height: 100px;
  width: 442px;
  text-transform: uppercase;
  text-align: center;
  &:after{
    position: relative;
    top: 29%;
    right: 18%;
  }
}


.about__left-content{
  @include tablets{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.about__left-title{
  @include tablets {
    display: flex;
    justify-content: center;
  }
}

.user-description__data{
  @include tablets {
    padding-left: 9%;
  }
}

.user-description__text{
  width: 379px;
  @include tablets{
    width: 30.6875rem;
    text-align: left;
  }
  @include small-phones{
    width: 26.6875rem
  }
}

.block-subtitle--left{
  @include tablets{
     width: 100%;
  }
}