.user-description-avatar{
  width: 440px;
  height: 390px;
  
}


.user-description__text{
  width: 379px;
}

.about__left{
  width: 50%;
  position: relative;
  padding-left: 5%;
  z-index: 1000;
  
}
.user-description__img{
  z-index: 1000;
}

.block-title{
  text-align: center;
    font-family: 'Sansus Webissimo';
    font-weight: normal;
    font-style: normal;
    font-size: 64px;
    width: 354px;
    margin-bottom: 5%;
    text-transform: uppercase;

}
.stars-pic{
  width: 150px;
  height: 100px;
  position: absolute;
  left: 23%;
}


.user__text{
  margin-bottom: 2%;
  font-size: 16px;
}

.block-subtitle--left{
  height: 100px;
  width: 442px;
  text-transform: uppercase;
  text-align: center;
  &:after{
    position: relative;
    top: 29%;
    right: 18%;
  }
}