.about__rigth{
  width: 50%;
  position: relative;
  z-index: 1000;
  padding-left: 10%;
  @include tablets {
    background: #f4f5f0;
    width: 100%;
    height: 56%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  @include phones {
    height: 60%;
  }
}

.block-subtitle{
  font-family: 'Sansus Webissimo';
  font-weight: normal;
  font-style: normal;
  font-size: 34px;
  text-transform: uppercase;
  &:after{
   content: "";
   background: #474b57;
   width: 90px;
   height: 2px;
   display: inline-block;

  }
}

.block-subtitle--rigth{
  width: 306px;
  position: relative;
  left: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 125px;
  @include tablets{
    margin-top: 20%;
    left: 0;
  }

 &:after{
  position: relative;
  top: 10%;

 }


 

}
.about__right-description{
  font-size: 16px;
  width: 534px;
  
  
}


.about__right-description{
  font-size: 16px;
  margin-bottom: 10%;
}


.about__right-description.text-content{
  @include phones{
    width: 400px;
  }
}