.about-me__head{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
  flex-direction: column;
}


.about-me__list{
  display: flex;
  @include phones {
    flex-direction: column;
  }
}


.about-me__title{
  color: #fff;
}

.about-me__coments{
  font-weight: normal;
  font-style: italic;
  font-size: 16px;
  color: #fff;
}


.about-me__text2{
  font-weight: bold;
  font-style: italic;
  text-align: center;
  margin-top: 12%;
}



.about-me__text1{
  width: 380px;
  height: 60px;
  line-height: 1.6;
}

.about-me__img{
  text-align: center;
}


.about-me__text3{
  text-align: center;

}

.about-me__elem{
  margin-right: 5%;
}

.works-stars{
  position: absolute;
  width: 217px;
  height: 206px;
  top: 0;
  left: 21%;
}