.arcticle__header{
  font-family: 'Sansus Webissimo';
  font-weight: normal;
  font-style: normal;
  font-size: 35px;
  text-transform: uppercase;
  margin-bottom:2%;
  width: 733px;
}
.arcticle__data{
color: #abb4cc;
margin-bottom:2%;
}

.article__text{
  color: #474b57;
  width: 700px;
  margin-bottom: 2%;

}


.arcticle__text2{
  color: #474b57;
  width: 700px;

}

.blog-arctile{
  position: relative;
  left: 13%;
  z-index: 1000;
}


.blog-navigation {
  z-index: 1000;
  position: relative;
}


.arcticle__list{
  margin-bottom: 10%;

}