.button-pic{
  width: 20px;
  height: 20px;
  fill: #fff;
  position: relative;
  right: 72%;

}


.slider-click{
  height: 45px;
  width: 220px;
  color: #fff;
  background: #004cd1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-style: normal;
}