.hero{
  background-image: url('./assets/images/bg/photo-1440558547120-1c1cae0397a1.jpg');
  background-repeat: no-repeat;
  background-position: 100% center;
  background-size: cover;
  position: relative;
  width: 100%;
  display: flex;
align-items: center;
justify-content: center;
}

.hero--about{
  height: 100vh;
  min-height:650px;
}

.hero--blog{
  height: 80vh;
  min-height:400px;
}

.hero--works{
  height: 100vh;
  min-height:650px;
  background-image: url('./assets/images/bg/fon-hero-works.jpg');
  background-repeat: no-repeat;
  background-position: 100% center;
  background-size: cover;
}

.about{
  position: relative;
  width: 100%;
  height: 130vh;
  min-height: 650px;
  display: flex;
}
.slider{
  width: 100%;
  height: 100vh;
  min-height: 650px;
  display: flex;
}

.map{
  background-image: url('./assets/images/bg/Layer 1.jpg');
  background-repeat: no-repeat;
  background-position: 50% center;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 650px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.auth-block{
  background-image: url('./assets/images/bg/photo-1440558547120-1c1cae0397a1.jpg');
  background-repeat: no-repeat;
  background-position: 50% center;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.arctiles{
  position: relative;
  width: 100%;
  height:200vh;
  display: flex;
  margin-bottom: 170px;
 
  
}


.about-me{
  position: relative;
  background: url('./assets/images/bg/fon-aboutme.jpg')center center /cover no-repeat;
  width: 100%;
  height: 200vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
