.slider-right{
  height: 100%;
  width: 50%;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
 grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr  ;
 background: #e3e2de;
}
.block-pick{
  width: 40px;
  height: 40px;
  fill:white;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 1000;
  cursor: pointer;
}



.block-img{
  width: 100%;
  height: 100%;
}

.slider__block1{
  grid-column: 2/13;
  grid-row: 2/7;
}

.slider__block2{
  position: relative;
  grid-column: 1/8;
  grid-row: 8/11;
 
  
  
}

.slider__block3{
  grid-column: 8/15;
  grid-row: 8/11;
  
}

.slider-img{
  position: absolute;
  &::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: #b4b4b9;
    opacity: 0.6;
  }
}


.slider-img--block3{
  &::after{
    background: #9f9c99;
  }
}