.social__link-pic{
  width: 32px;
  height: 15px;
  fill: #fff;
  transition: 0.3s;
  &:hover{
    fill: #004cd1;

  }
}

.social__link-pic--footer{
  fill: #8e8f94;
  
  
  
}
.socials{
  display: flex;

}

.hero__links{
  position: absolute;
  top: 3%;
  left: 3%;
}